.custom-wrapper {
    background-color: #ccc;
    color: white;
}

.custom-wrapper-menu-link {
    color: #444;
}

.custom-wrapper-menu-link:hover {
    background-color: #222;
    color: white;
}

.custom-wrapper-menu-selected {
    background-color: #999;
    color: white;
}
